<!DOCTYPE html>
<html>
  <head>
    <title>Data Locker</title>
  </head>
  <body>
    <h1>Add Clients</h1>
<div class="container" style="border:thin solid #000000;margin-top:10%;padding:10px">
    <form action="/api/clients" method="post">

      <div>
        Organisation's name:<br>
        <input type="text" name="name" >
        <br>
        Client ID:<br>
        <input type="text" name="id" >
        <br><br>
        Client Secret:<br>
        <input type="text" name="secret" >
        <br><br>
        <input type="submit" value="Submit">
      </div>
    </form>
<div>
  </body>
</html>
