<!DOCTYPE html>
<html>
  <head>
    <title>Beer Locker</title>
  </head>
  <body>
    <p>Add Clients</p>

    <form action="/api/users" method="post">

      <div>
        Name:<br>
        <input type="text" name="name" >
        <br>
        Email:<br>
        <input type="text" name="email" >
        <br>             
        Username:<br>
        <input type="text" name="username" >
        <br>
        Password:<br>
        <input type="password" name="password" >
        <br><br>

        <input type="submit" value="Submit">
      </div>
    </form>

  </body>
</html>
